* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.container {
    width: 1200px;
    margin: 0 auto;
}

/*header*/

header {
    background-color: #8DC9BE;
    height: 130px;
    border: 1px solid #DCDCDC;
}

.container_header {
    height: 56px;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

header {
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-size: 50px;
}


/*Tela login*/


.principal {
    margin: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}





/*Footer*/

footer {
    background-color: #8DC9BE;
    height: 40px;
}